.upload-btn:focus + label,
.upload-btn + label:hover {
  background-color: red;
}

.img-viewer {
  .action-panel {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 33%;
    height: 50px;
    width: 100%;
    background: rgba(177, 221, 248, 0.4);
    text-align: center;
    .action-btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 100px;
      height: 30px;
      font-size: 20px;
      font-weight: 700;
      //border: 1px solid black;
      border-radius: 18px;
      background-color: #fff;

      &:hover {
        background-color: #eaf7ff;
      }
      label {
        cursor: pointer;
        width: inherit;
      }
    }
  }

}