.fileInput {
  opacity: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  top: 4px;
  font-size: 0;
  position: absolute;
  &.html {
    left: 54px;
  }
  &.styles {
    left: 98px;
  }
  &.js {
    left: 143px;
  }
}