.search-view-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  .add-new-view-container {
  }
  .search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    .search-item {
      flex: auto;
      min-width: 300px;
      margin-right: 10px;
    }
    .btn-success {
      outline: none;
      width: 130px;
      font-weight: bold;
    }
  }
}