.edit-view-container{
  .title{
    color: white;
    padding: 15px;
    font-size: 50px;
  }
  .view-worksapce-container{
    margin: 2%;
    display: flex;
    justify-content: space-between;
    height: 70vh;
  }
}