.intractionable {
  position: absolute;
  width: fit-content;
  &.edit-mode {
    border: 2.5px solid #3899ec;
    border-radius: 3px;
    .resizer {
      position: absolute;
      &:after {
        content: "";
        width: 7px;
        height: 7px;
        background-color: #fff;
        border: 1px solid #3899ec;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 50%;
        margin-top: -5px;
        margin-right: -5px;
      }

      &.right {
        width: 5px;
        top: 4px;
        bottom: 4px;
        right: -2.5px;
        cursor: ew-resize;
      }
      &.bottom {
        height: 5px;
        left: 4px;
        right: 4px;
        bottom: -4.5px;
        cursor: ns-resize;
      }
      &.both {
        width: 5px;
        bottom: -1.5px;
        right: -1.5px;
        cursor: nw-resize;
      }
    }
  }
  .intractionable-mask {
    background-color: transparent;
    position: absolute;
    top: 0;
    cursor: move;
  }
  .intractionable-mask-view {
    background-color: transparent;
    position: absolute;
    top: 0;
  }

  .content > * {
    width: 100% !important;
    height: 100% !important;
  }
}