@import "../../assets/colors";

:root {
  --colNum: 5;
  //header

  --headerBackgroundColor: $pain-grey;
  --headerColor: white;
  --headerFontSize: 20px;
  --cornersRadius: 6px;
  --headerMinHeight: 50px;
  --headerBorder: none;
  --headerOpacity: 1;
  --headerTextAlign: 'start';
  //content
  --borderSidesRull: 0.5px solid $pain-grey;
  --color: white;
  --fontSize: 20px;

  //cell
  --minHeight: 40px;
  --cellTextAlign: center;
  --backgroundColor: transparent;
  --opacity: 1;
  --cellBorderLeft: none;
  --cellMargin: 0px 0px 0px 0px;
  --cellBorderRight: none;
  --cellBorderBottom: var(--borderSidesRull);
}

.dynamic-table {
  .header {
    background-color: var(--headerBackgroundColor);
    opacity: var(--headerOpacity);
    border-top-left-radius: var(--cornersRadius);
    border-top-right-radius: var(--cornersRadius);
    border: var(--headerBorder);
    display: grid;
    grid-template-columns: repeat(var(--colNum), 1fr);
    grid-auto-rows: minmax(var(--headerMinHeight), auto);
    align-items: center;

    .cell {
      color: var(--headerColor);
      font-size: var(--headerFontSize);
      width: 100%;
      text-align: var(--headerTextAlign);
      &.with-sort {
        display: flex;
        justify-content: space-around;
        cursor: pointer;
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(var(--colNum), 1fr);
    grid-auto-rows: minmax(var(--minHeight), auto);
    border-left: var(--borderSidesRull);
    border-right: var(--borderSidesRull);
    .cell {
      background-color: var(--backgroundColor);
      opacity: var(--opacity);
      border-bottom: var(--cellBorderBottom);
      border-left: var(--cellBorderLeft);
      border-right: var(--cellBorderRight);
      color: var(--color);
      font-size: var(--fontSize);
      margin: var(--cellMargin);
      width: 100%;
      text-align: var(--cellTextAlign);
    }
  }
}