@import url('//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500');
@import "colors";
@import "mixins";
@import "~react-select/dist/react-select.css";
@import "~react-confirm-alert/src/react-confirm-alert.css";

.react-confirm-alert-overlay {
  background: rgba(255, 255, 255, 0.5);
}

.react-confirm-alert-blur {
  filter: none;
}

body {
  background: url("/src/assets/images/workforce_management_banner.png") no-repeat;
  background-size: 100% 100%;
}




