/* Main UI Colors */
$primary-orange: #F37338;
$secondary-blue: #00539b;
$accent-green: #027878;
$primary-grey: #7A7A7A;
$font-color: #3a3a3a;
$border-color: #D6D6D6;
$hover-color: #D4F0FE;
$required-color: #FBFB8A;
$error-color: #E42629;
$active-color: #3AA93D;
$sort-color: #0fd300;
$inactive-color: #6E6E6E;
$link-color: #005291;

$pain-grey: #66D4AF;
