.noResult {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.details {
  color: #3a3a3a !important;
  .viewName {
    font-size: 30px;
  }
  .totalInstances {
    font-size: 15px;
    font-weight: bold;
  }
}